<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()"><span>&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Sense search</h4>
</div>
<div class="modal-body" style="overflow-y: hidden;">
    <div class="row" style="">
        <div class="form-group">
            <div class="col-sm-4">
                <input type="text" placeholder="Literal" name="literal" class="form-control" value="ba" ng-model="searchTerm">
            </div>
            <div class="col-sm-4">
                <select class="form-control">
                    <option>Noun</option>
                    <option>Verb</option>
                    <option>Asjective</option>
                    <option>Adverb</option>
                    <option>Proper noun</option>
                </select>
            </div>
            <div class="col-sm-4">
                <select class="form-control" ng-if="lexiconMode == 'any'" ng-model="selectedLexicon" ng-options="lexicon as lexicon.resource.name for lexicon in lexiconList"></select>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-sm-3" style="max-height: calc(100vh - 300px);overflow-y: auto;">
            <table class="table table-striped table-selectable">
                <tr ng_repeat="(key, value) in searchResults" ng-click="selectLexicalEntry(value)" ng-class="{active: value === selectedLexicalEntry}">
                    <td>{{value.lemma}}</td>
                </tr>
            </table>
        </div>
        <div class="col-sm-9" style="max-height: calc(100vh - 300px);overflow-y: auto;">
            <table class="table table-selectable">
                <thead>
                <tr>
                    <th>Sense</th>
                    <th>Domain</th>
                    <th>Semse definition</th>
                    <th>Examples</th>
                </tr>
                </thead>
                <tbody>
                    <tr class="tableRow" ng-repeat="(key, value) in senseList" ng-click="selectSenseRow(value)" ng-class="{active: value === selectedSense}">
                        <td>{{value.label}}</td>
                        <td></td>
                        <td>{{value.primary_definition}}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="goToSense()" ng-show="!searchType">Go to Sense</button>
    <button type="button" class="btn btn-primary" ng-click="selectSense(selectedSense)" ng-show="searchType == 'sense'">Select Sense</button>
    <button type="button" class="btn btn-primary" ng-click="selectSynSet(selectedSense)" ng-show="searchType == 'synset'">Select SynSet</button>
</div>