<div class="modal-header">
    <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
    <h4 class="modal-title" id="myModalLabel6">Select lexicon</h4>
</div>
<div class="modal-body">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Lexicon Id</th>
            <th>Resource name</th>
            <th>Version</th>
            <th>Language</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="(key, value) in lexicons">
            <td>{{value.id}}</td>
            <td>{{value.resource.name}}</td>
            <td>{{value.version}}</td>
            <td>{{value.language}}</td>
            <td>
                <a ng-click="selectLexicon(value)" class="btn btn-default btn-xs"><i class="fa fa-check-square"></i> Select</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
