<div class="modal-header">
    <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
    <h4 class="modal-title" id="myModalLabel6">Select lexicon</h4>
</div>
<div class="modal-body">
    <!--<form role="form" name="form" novalidate>
        <fieldset class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">Domain name</label>
                <div class="col-md-9">
                    <input placeholder="Name" class="form-control" ng-model="domain.name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Description</label>
                <div class="col-md-9">
                    <input placeholder="Description" class="form-control" ng-model="domain.description">
                </div>
            </div>
        </fieldset>
    </form>-->

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Lexicon Id</th>
            <th>Resource name</th>
            <th>Language</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="(key, value) in lexicons">
            <td>{{value.id}}</td>
            <td>{{value.resource.name}}</td>
            <td>{{value.language}}</td>
            <td>
                <a ng-click="selectLexicon(value)" class="btn btn-default btn-xs"><i class="fa fa-check-square"></i> Select</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!--<div class="modal-footer">
    <button type="button" class="btn btn-white btn-sm" ng-click="$dismiss()">Katkesta</button>
    <a kl-save-button
       enabled="{{form.$dirty}}"
       messages="Salvesta:Salvestan:Salvestatud"
       class="btn btn-primary btn-sm"
       ng-click="save(form)"></a>
</div>-->