<div class="">
    <div style="text-align: right;font-size: 20px;" class="">
        <a ng-click="addExtRef()" class="btn btn-default btn-xs"><i class="fa fa-plus-circle"></i> Add new</a>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>External System</th>
            <th>Relation Type</th>
            <th>Key</th>
            <th>Definition</th>
            <th>Rate</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="(key, value) in currentSynSet.synset_externals">
            <td ng-switch on="selectedExtRef == value">
                <span ng-switch-when="false">{{value.system}}</span>
                <select ng-switch-when="true" class="form-control" ng-options="value as value.name for value in extSystems track by value.id" ng-model="tempExtRef.sys_id" ng-change="selectedExtSystemChanged()"></select>
            </td>
            <td ng-switch on="selectedExtRef == value">
                <span ng-switch-when="false">{{value.type_ref_code}}</span>
                <select ng-switch-when="true" class="form-control" ng-options="value as value.name for value in extRelTypes track by value.id" ng-model="tempExtRef.rel_type" ng-change="selectedExtRelTypeChanged()"></select>
            </td>
            <td ng-switch on="selectedExtRef == value">
                <span ng-switch-when="false">{{value.reference}}</span>
                <div ng-switch-when="true">
                    <input class="form-control" style="width: auto;display: inline-block" ng-model="tempExtRef.reference">
                    <a ng-click="setExtRefKey(value)" class=""><i class="fa fa-search"></i></a>
                </div>
            </td>
            <td ng-switch on="selectedExtRef == value">
                <span>{{value.definition}}</span>
            </td>
            <td ng-switch on="selectedExtRef == value">
                <span>{{value.rate}}</span>
            </td>
            <td>
                <a ng-click="editExtRef(value)" class="btn btn-default btn-xs" ng-hide="selectedExtRef == value"><i class="fa fa-pencil"></i> Edit</a>
                <a ng-click="cancelExtRef()" class="btn btn-default btn-xs" ng-show="selectedExtRef == value"><i class="fa fa-pencil"></i> Cancel</a>
                <a ng-click="saveExtRef()" class="btn btn-default btn-xs" ng-show="selectedExtRef == value"><i class="fa fa-pencil"></i> Save</a>
                <a ng-click="deleteExtRef(value)" class="btn btn-default btn-xs"><i class="fa fa-minus-circle"></i> Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!--
<div class="">
    <div style="text-align: right;font-size: 20px;" class="">
        <a class="addSynsetExtRefBtn"><i class="fa fa-plus-circle"></i></a>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>External System</th>
            <th>Relation Type</th>
            <th>Key</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><span class="glyphicon glyphicon-checked"></span>Ext system key</td>
            <td>eq_synonyms</td>
            <td>41567821</td>
            <td>
                <a href=""><i class="fa fa-edit"></i></a>
                <a href=""><i class="fa fa-remove m-r-md"></i></a>
            </td>
        </tr>
        <tr>
            <td><span class="glyphicon glyphicon-checked"></span>Ext system key</td>
            <td>eq_synonyms</td>
            <td>41567822</td>
            <td>
                <a href=""><i class="fa fa-edit"></i></a>
                <a href=""><i class="fa fa-remove m-r-md"></i></a>
            </td>
        </tr>
        <tr>
            <td><span class="glyphicon glyphicon-checked"></span>Ext system key</td>
            <td>eq_generalization</td>
            <td>41567823</td>
            <td>
                <a href=""><i class="fa fa-edit"></i></a>
                <a href=""><i class="fa fa-remove m-r-md"></i></a>
            </td>
        </tr>
        <tr class="delete_style newSynsetExtRefEl" style="display: none;">
            <td><input class="form-control"></td>
            <td><select class="form-control"><option>eq_synonyms</option><option>eq_generalization</option></select></td>
            <td><input class="form-control"></td>
            <td>
                <a href=""><i class="fa fa-edit"></i></a>
                <a href=""><i class="fa fa-remove m-r-md"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
-->