<table class="table table-striped synsetSenseVariantTable">
    <thead>
    <tr>
        <th>Sense</th>
        <th>Definition</th>
        <th>Examples</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="(key, value) in currentSynSet.senses">
        <td>
            {{value.label}}
        </td>
        <td>
            {{value.primary_definition}}
        </td>
        <td>
            {{value.primary_example}}
        </td>
        <td>
            <a ng-click="selectSenseForView(value)" class="btn btn-default btn-xs"><i class="fa fa-pencil"></i> View</a>
        </td>
    </tr>
    </tbody>
</table>