<fieldset class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-1 control-label">Lemma</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" placeholder="Lemma" ng-model="sense.lexical_entry.lemma">
            <p ng-show="senseErrors.lemma.required">Lemma can't be empty!</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-1 control-label">Status</label>
        <div class="col-sm-2">
            <select class="form-control" name="status" ng-model="sense.status">
                <option value="D">Draft</option>
                <option value="N">Needs review</option>
                <option value="V">Verified</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-1 control-label">Notes / Comments</label>
        <div class="col-sm-11">
            <textarea class="form-control" rows="5" ng-model="sense.comment"></textarea>
        </div>
    </div>
</fieldset>