<div class="row">
    <div class="col-sm-12">
        <div style="text-align: right;font-size: 20px;" class="">
            <a ng-click="addDefinition()" class="btn btn-default btn-xs"><i class="fa fa-plus-circle"></i> Add new</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Status</th>
                <th>Definition text</th>
                <th>Language</th>
                <th>Source</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(key, value) in sense.sense_definitions" ng-class="{active: value === selectedDefinition}">
                <td></td>
                <td>{{value.text}}</td>
                <td>{{value.language}}</td>
                <td>{{value.source}}</td>
                <td>
                    <a ng-click="selectDefinition(value)" class="btn btn-default btn-xs"><i class="fa fa-pencil"></i> Edit</a>
                    <a ng-click="deleteDefinition(value)" class="btn btn-default btn-xs"><i class="fa fa-minus-circle"></i> Delete</a>
                    <a ng-click="setPrimaryDefinition(value)" class="btn btn-default btn-xs" ng-hide="value.is_primary == true"><i class="fa fa-pencil"></i> Set primary</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>