<div class="row">
    <div class="col-sm-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Status</th>
                <th>Definition text</th>
                <th>Language</th>
                <th>Source</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(key, value) in sense.sense_definitions" ng-class="{active: value === selectedDefinition}">
                <td></td>
                <td>{{value.text}}</td>
                <td>{{languageCodeMap[value.language].language}}</td>
                <td>{{value.source}}</td>
                <td>
                    <a ng-click="selectSenseDefinitionForView(value)" class="btn btn-default btn-xs"><i class="fa fa-pencil"></i> View</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div style="text-align: right;font-size: 20px;">
    <a class="btn btn-success btn-sm" ng-click="closeSenseView()"><i class="fa fa-ok"></i>Close</a>
</div>
