<div>

    <script type="text/ng-template" id="tree_item_renderer2.html">
        <div ng-switch="data.type" class="white" ng-class="{active: data.rel && data.rel == selectedRel}">
            <i class="fa fa-long-arrow-right" ng-switch-when="do"></i>
            <i class="fa fa-long-arrow-left" ng-switch-when="di"></i>
            <i class="fa fa-arrows-h" ng-switch-when="bd"></i>
            <i class="fa fa-ellipsis-h" ng-switch-when="nd"></i>
            <div class="tree-item-label">{{data.name}}</div>
        </div>
        <ul>
            <li ng-repeat="data in data.nodes" ng-include="'tree_item_renderer2.html'" ng-click="!data.rel || selectRelForView(data.rel, data.dirType)"></li>
        </ul>
    </script>

    <script type="text/ng-template" id="tree_item_renderer1.html">
        <div ng-switch="data.type" class="blue" ng-class="{active: data.rel && data.rel == selectedRel}">
            <i class="fa fa-long-arrow-right" ng-switch-when="do"></i>
            <i class="fa fa-long-arrow-left" ng-switch-when="di"></i>
            <i class="fa fa-arrows-h" ng-switch-when="bd"></i>
            <i class="fa fa-ellipsis-h" ng-switch-when="nd"></i>
            <div class="tree-item-label">{{data.name}}</div>
        </div>
        <ul>
            <li ng-repeat="data in data.nodes" ng-include="'tree_item_renderer2.html'" ng-click="!data.rel || selectRelForView(data.rel, data.dirType)"></li>
        </ul>
    </script>

    <ul class="relation-tree-view tree" ng-controller="TreeViewCtrl">
        <li ng-repeat="data in relTree">
            <div class="gray" ng-switch="data.type">
                <i class="fa fa-long-arrow-right" ng-switch-when="do"></i>
                <i class="fa fa-long-arrow-left" ng-switch-when="di"></i>
                <i class="fa fa-arrows-h" ng-switch-when="bd"></i>
                <i class="fa fa-ellipsis-h" ng-switch-when="nd"></i>
                <div class="tree-item-label">{{data.name}}</div>
            </div>
            <ul>
                <li ng-repeat="data in data.nodes" ng-include="'tree_item_renderer1.html'"></li>
            </ul>
        </li>
    </ul>

</div>
<div style="text-align: right;font-size: 20px;">
    <a class="btn btn-success btn-sm" ng-click="closeSenseView()"><i class="fa fa-ok"></i>Close</a>
</div>
