<div class="row" ng-if="anchorSynSet.id" ng-controller="controller/synset/RelationTrees">
    <div class="col-sm-12">

        <script type="text/ng-template" id="anchor_rel_tree_item_renderer.html">
            <div ng-dblclick="selectAnchor(data.id)" ng-click="!data.id || selectSynsetById(data.id)" ng-class="{active: data.id==currentSynSet.id}">{{data.name}}</div>
            <ul>
                <li ng-repeat="data in data.nodes" ng-include="'anchor_rel_tree_item_renderer.html'"></li>
            </ul>
        </script>

        <script type="text/ng-template" id="anchor_rel_tree_item_renderer_hyponyms.html">
            <div ng-dblclick="selectAnchor(data.id)" ng-click="!data.id || selectHyponymById(data.id, data)" ng-class="{active: data.id==currentSynSet.id}">{{data.name}}</div>
            <ul>
                <li ng-repeat="data in data.nodes" ng-include="'anchor_rel_tree_item_renderer_hyponyms.html'"></li>
            </ul>
        </script>

        <uib-tabset vertilize-container>
            <uib-tab heading="Hyperonym tree">
                <div vertilize>
                    <ul class="relation-tree-view tree" ng-controller="TreeViewCtrl">
                        <li ng-repeat="data in hyperonymRelTree">
                            <div ng-dblclick="selectAnchor(data.id)" ng-click="!data.id || selectSynsetById(data.id)" ng-class="{active: data.id==currentSynSet.id}">{{data.name}}</div>
                            <ul>
                                <li ng-repeat="data in data.nodes" ng-include="'anchor_rel_tree_item_renderer.html'"></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </uib-tab>
            <uib-tab heading="1-st hyponyms">
                <div vertilize>
                    <ul class="relation-tree-view tree" ng-controller="TreeViewCtrl">
                        <li ng-repeat="data in firstHyponymRelTree">
                            <div ng-dblclick="selectAnchor(data.id)" ng-click="!data.id || selectSynsetById(data.id)" ng-class="{active: data.id==currentSynSet.id}">{{data.name}}</div>
                            <ul>
                                <li ng-repeat="data in data.nodes" ng-include="'anchor_rel_tree_item_renderer.html'"></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </uib-tab>
            <uib-tab heading="All hyponyms">
                <div vertilize>
                    <ul class="relation-tree-view tree" ng-controller="TreeViewCtrl">
                        <li ng-repeat="data in hyponymRelTree">
                            <div ng-dblclick="selectAnchor(data.id)" ng-click="!data.id || selectSynsetById(data.id)" ng-class="{active: data.id==currentSynSet.id}">{{data.name}}</div>
                            <ul>
                                <li ng-repeat="data in data.nodes" ng-include="'anchor_rel_tree_item_renderer_hyponyms.html'"></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </uib-tab>
            <uib-tab heading="Co-hyponyms">
                <div vertilize>
                    <ul class="relation-tree-view tree" ng-controller="TreeViewCtrl">
                        <li ng-repeat="data in siblingRelTree">
                            <div ng-dblclick="selectAnchor(data.id)" ng-click="!data.id || selectSynsetById(data.id)" ng-class="{active: data.id==currentSynSet.id}">{{data.name}}</div>
                            <ul>
                                <li ng-repeat="data in data.nodes" ng-include="'anchor_rel_tree_item_renderer.html'"></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </uib-tab>
            <uib-tab heading="Near relations (alike / unlike)">
                <div vertilize>
                    <ul class="relation-tree-view tree" ng-controller="TreeViewCtrl">
                        <li ng-repeat="data in otherRelTree">
                            <div ng-dblclick="selectAnchor(data.id)" ng-click="!data.id || selectSynsetById(data.id)" ng-class="{active: data.id==currentSynSet.id}">{{data.name}}</div>
                            <ul>
                                <li ng-repeat="data in data.nodes" ng-include="'anchor_rel_tree_item_renderer.html'"></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </uib-tab>
        </uib-tabset>

    </div>
</div>

<!-- SynSet view -->
<div class="row">
    <div class="col-sm-12" ng-show="currentSynSet.id">
        <h4>SYNSET - DB_ID: {{currentSynSet.id}}, Synset_ID: {{currentSynSet.label}} : {{currentSynSet.variants_str}} - {{currentSynSet.primary_definition}}</h4>
    </div>
    <div class="col-sm-12" ng-hide="currentSynSet.id">
        <h4>New synset</h4>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <uib-tabset vertilize-container>
            <uib-tab heading="Attributes" select="selectTab('attributes')">
                <div ng-include="'view/synSet/tabs/attributes.html'" vertilize></div>
                <div ng-include="'view/synSet/tabs/footer.html'"></div>
            </uib-tab>
            <uib-tab heading="Definitions" select="selectTab('definitions')">
                <div ng-include="'view/synSet/tabs/definitions.html'" vertilize></div>
                <div ng-include="'view/synSet/tabs/footer.html'"></div>
            </uib-tab>
            <uib-tab heading="Sense variants" select="selectTab('senseVariants')">
                <div ng-include="'view/synSet/tabs/senseVariants.html'" vertilize></div>
                <div ng-include="'view/synSet/tabs/footer.html'"></div>
            </uib-tab>
            <uib-tab heading="Relations / Links" select="selectTab('relations')">
                <div ng-include="'view/synSet/tabs/relations.html'" vertilize></div>
                <div ng-include="'view/synSet/tabs/footer.html'"></div>
            </uib-tab>
            <uib-tab heading="External Refs" select="selectTab('externalRefs')">
                <div ng-include="'view/synSet/tabs/externalRefs.html'" vertilize></div>
                <div ng-include="'view/synSet/tabs/footer.html'"></div>
            </uib-tab>
        </uib-tabset>
    </div>
</div>

<div ui-view autoscroll="true"></div>
