<!-- Sense form -->
<div class="row synsetSubform senseVariantContainer" style="display: none;margin-top: 10px;margin-bottom: 10px;">
    <div class="col-sm-6" style="font-size: 18px;">
        Sense Id #, n:ehitatu-1
    </div>
    <div class="col-sm-6">
        <a class="btn btn-default btn-sm pull-right" data-toggle="modal" data-target="#new_literal_search" href=""><b><i class="fa fa-search"></i> Browse</b></a>
    </div>
</div>
<div class="row synsetSubform senseVariantContainer" style="display: none;">
    <div class="col-lg-12">
        <div class="tabs-container">
            <ul class="nav nav-tabs">
                <li class=""><a href="" data-target="#tab-41" data-toggle="tab">Attributes</a></li>
                <li class=""><a href="" data-target="#tab-45" data-toggle="tab">Definition/Statements</a></li>
                <li class=""><a href="" data-target="#tab-46" data-toggle="tab">Examples</a></li>
                <li class="active"><a href="" data-target="#tab-47" data-toggle="tab">Grammatical info</a></li>
                <li class=""><a href="" data-target="#tab-42" data-toggle="tab">Other features</a></li>
                <li class=""><a href="" data-target="#tab-43" data-toggle="tab">Relations / Links</a></li>
                <li class=""><a href="" data-target="#tab-44" data-toggle="tab">External Refs</a></li>
            </ul>
            <div class="tab-content" style="height: 40vh;position: relative;">

                <div id="tab-41" class="tab-pane">
                    <div class="panel-body">

                        <!--Table General -->
                        <fieldset class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-1 control-label">Status</label>
                                <div class="col-sm-2">
                                    <select class="form-control" name="status">
                                        <option>Draft</option>
                                        <option>Needs review</option>
                                        <option>Verified</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label">Notes / Comments</label>
                                <div class="col-sm-11">
                                    <textarea class="form-control" rows="5"></textarea>
                                </div>
                            </div>
                        </fieldset>

                    </div>
                </div>

                <div id="tab-47" class="tab-pane active">
                    <div class="panel-body">

                        <!--Table Grammatical Info -->
                        <fieldset class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Part of speech</label>
                                <div class="col-sm-3">
                                    <select class="form-control" name="status">
                                        <option> - Part of speech - </option>
                                        <option selected="Selected">Noun</option>
                                        <option>Verb</option>
                                        <option>Adjective</option>
                                        <option>Adverb</option>
                                        <option>Proper noun</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Lemma</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" placeholder="Lemma" value="ehitatu">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Grammatical number</label>
                                <div class="col-sm-3">
                                    <select class="form-control" name="status">
                                        <option> - Grammatical number - </option>
                                        <option selected="selected">Singular</option>
                                        <option>Prural</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Grammatical gender</label>
                                <div class="col-sm-3">
                                    <select class="form-control" name="status">
                                        <option> - Grammatical gender - </option>
                                        <option>Masculine</option>
                                        <option>Feminine</option>
                                        <option>Neuter</option>
                                        <option>Animate</option>
                                        <option>Inanimate</option>
                                    </select>
                                </div>
                            </div>
                        </fieldset>

                    </div>
                </div>

                <div id="tab-42" class="tab-pane">
                    <div class="panel-body">

                        <!--Table Features -->
                        <fieldset class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-1 control-label">Domain</label>
                                <div class="col-sm-2">
                                    <select class="form-control" name="status">
                                        <option> - N/A - </option>
                                        <option>Domain #1</option>
                                        <option>Domain #2</option>
                                        <option>Domain #3</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label">Style</label>
                                <div class="col-sm-2">
                                    <select class="form-control" name="status">
                                        <option> - N/A - </option>
                                        <option>halvustav</option>
                                        <option>harvaesinev</option>
                                        <option>irooniline</option>
                                        <option>kiriklik (ristiusu, kirikuga seotud)</option>
                                        <option>kõnekeelne</option>
                                        <option>lastekeelne</option>
                                        <option>luulekeelne</option>
                                        <option>murdekeelne</option>
                                        <option>naljatlev</option>
                                        <option>nõukogulik</option>
                                        <option>piltlik</option>
                                        <option>släng</option>
                                        <option>vananenud, vanemas keeles</option>
                                        <option>vanas kirjakeeles</option>
                                        <option>vulgaarne</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label">Sentiment</label>
                                <div class="col-sm-2">
                                    <select class="form-control" name="status">
                                        <option>Neutral</option>
                                        <option>Ambiguous</option>
                                        <option>Positive</option>
                                        <option>Negative</option>
                                    </select>
                                </div>
                            </div>
                        </fieldset>

                    </div>
                </div>

                <div id="tab-43" class="tab-pane">
                    <div class="panel-body">

                        <!--Table Links -->
                        <div class="table table_to_change links_table">
                            <div style="text-align: right; font-size: 20px;" class="sub_menu">
                                <a href="" class="addSenseRelationBtn"><i class="fa fa-plus-circle"></i></a>
                                <a href=""><i class="fa fa-minus-circle"></i></a>
                                <a href=""><i class="fa fa-pencil"></i></a>
                            </div>
                            <div class="senseRelationTree"></div>
                        </div>

                    </div>
                </div>
                <div id="tab-44" class="tab-pane">
                    <div class="panel-body">

                        <!--Table External Links -->
                        <div class="">
                            <div style="text-align: right;font-size: 20px;" class="">
                                <a href="" class="addSenseExtRefBtn"><i class="fa fa-plus-circle"></i></a>
                            </div>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>External System</th>
                                    <th>Relation Type</th>
                                    <th>Key</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><span class="glyphicon glyphicon-checked"></span>Ext system key</td>
                                    <td>eq_synonyms</td>
                                    <td>41567821</td>
                                    <td>
                                        <a href=""><i class="fa fa-edit"></i></a>
                                        <a href=""><i class="fa fa-remove m-r-md"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="glyphicon glyphicon-checked"></span>Ext system key</td>
                                    <td>eq_synonyms</td>
                                    <td>41567822</td>
                                    <td>
                                        <a href=""><i class="fa fa-edit"></i></a>
                                        <a href=""><i class="fa fa-remove m-r-md"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="glyphicon glyphicon-checked"></span>Ext system key</td>
                                    <td>eq_generalization</td>
                                    <td>41567823</td>
                                    <td>
                                        <a href=""><i class="fa fa-edit"></i></a>
                                        <a href=""><i class="fa fa-remove m-r-md"></i></a>
                                    </td>
                                </tr>
                                <tr class="delete_style newSenseExtRefEl" style="display: none;">
                                    <td><input class="form-control"></td>
                                    <td><select class="form-control"><option>eq_synonyms</option><option>eq_generalization</option></select></td>
                                    <td><input class="form-control"></td>
                                    <td>
                                        <a href=""><i class="fa fa-edit"></i></a>
                                        <a href=""><i class="fa fa-remove m-r-md"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <div id="tab-45" class="tab-pane">
                    <div class="panel-body">

                        <!--Table Definitions/Statements -->
                        <fieldset class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-1 control-label">Definition</label>
                                <div class="col-sm-11">
                                    <textarea class="form-control" rows="2">ehitatud objekt v detail (1013)</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label">Statements</label>
                                <div class="col-sm-11">
                                    <div style="text-align: right;font-size: 20px;" class="">
                                        <a class="addSenseStatementBtn"><i class="fa fa-plus-circle"></i></a>
                                    </div>
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>Statement text</th>
                                            <th>Language</th>
                                            <th>Source</th>
                                            <th>Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="delete_style">
                                            <td>Statement in estonian</td>
                                            <td>EST</td>
                                            <td>Source key/text</td>
                                            <td>
                                                <a href=""><i class="fa fa-edit"></i></a>
                                                <a href=""><i class="fa fa-remove m-r-md"></i></a>
                                            </td>
                                        </tr>
                                        <tr class="delete_style">
                                            <td>Statement in latvian</td>
                                            <td>LAV</td>
                                            <td>Source key/text</td>
                                            <td>
                                                <a href=""><i class="fa fa-edit"></i></a>
                                                <a href=""><i class="fa fa-remove m-r-md"></i></a>
                                            </td>
                                        </tr>
                                        <tr class="delete_style">
                                            <td>Statement in finnish</td>
                                            <td>FIN</td>
                                            <td>Source key/text</td>
                                            <td>
                                                <a href=""><i class="fa fa-edit"></i></a>
                                                <a href=""><i class="fa fa-remove m-r-md"></i></a>
                                            </td>
                                        </tr>
                                        <tr class="delete_style newSenseStatementEl" style="display: none;">
                                            <td><input class="form-control"></td>
                                            <td>
                                                <select class="form-control">
                                                    <option>EST</option>
                                                    <option>LAV</option>
                                                    <option>FIN</option>
                                                </select>
                                            </td>
                                            <td><input class="form-control"></td>
                                            <td>
                                                <a href=""><i class="fa fa-edit"></i></a>
                                                <a href=""><i class="fa fa-remove m-r-md"></i></a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div id="tab-46" class="tab-pane">
                    <div class="panel-body">

                        <!--Table Examples -->
                        <div style="text-align: right;font-size: 20px;" class="">
                            <a class="addSenseExampleBtn"><i class="fa fa-plus-circle"></i></a>
                        </div>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Example text</th>
                                <th>Language</th>
                                <th>Source</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="delete_style">
                                <td>Egiptuse püramiidid on võimsad ehitised. (Example text #1 in estonian)</td>
                                <td>EST</td>
                                <td>Source key/text</td>
                                <td>
                                    <a href=""><i class="fa fa-edit"></i></a>
                                    <a href=""><i class="fa fa-remove m-r-md"></i></a>
                                </td>
                            </tr>
                            <tr class="delete_style">
                                <td>Egiptuse püramiidid on võimsad ehitised. (Example text #2 in estonian)</td>
                                <td>EST</td>
                                <td>Source key/text</td>
                                <td>
                                    <a href=""><i class="fa fa-edit"></i></a>
                                    <a href=""><i class="fa fa-remove m-r-md"></i></a>
                                </td>
                            </tr>
                            <tr class="delete_style">
                                <td>Egiptuse püramiidid on võimsad ehitised. (Example text in latvian)</td>
                                <td>LAV</td>
                                <td>Source key/text</td>
                                <td>
                                    <a href=""><i class="fa fa-edit"></i></a>
                                    <a href=""><i class="fa fa-remove m-r-md"></i></a>
                                </td>
                            </tr>
                            <tr class="delete_style newSenseExampleEl" style="display: none;">
                                <td><input class="form-control"></td>
                                <td>
                                    <select class="form-control">
                                        <option>EST</option>
                                        <option>LAV</option>
                                        <option>FIN</option>
                                    </select>
                                </td>
                                <td><input class="form-control"></td>
                                <td>
                                    <a href=""><i class="fa fa-edit"></i></a>
                                    <a href=""><i class="fa fa-remove m-r-md"></i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="ibox-footer text-right" style="position: absolute;bottom: 20px;right: 20px;">
                    <a class="btn btn-warning btn-sm senseEditCloseBtn"><i class="fa fa-remove"></i> Discard changes</a>
                    <a class="btn btn-success btn-sm senseEditCloseBtn"><i class="fa fa-save"></i> Save</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-include="'view/synSet/senseRelation.html?1'"></div>

<script>
    $(document).ready(function () {
        var senseRelationData = [
            {
                text: '<i class="fa fa-link"></i> has_hyperonym',
                href: '#parent1',
                tags: ['1'],
                nodes: [
                    {
                        text: '<i class="fa fa-arrow-right"></i> n:asi-4, tehisasi-2, artefakt-2',
                        href: '#child1',
                        tags: ['0']

                    },
                    {
                        text: '<i class="fa fa-arrow-right"></i> n: signaal-2,märk4...',
                        href: '#child1',
                        tags: ['0']

                    }


                ]
            },
            {
                text: '<i class="fa fa-link"></i> has_hyponym',
                href: '#parent2',
                tags: ['6'],
                nodes: [
                    {
                        text: '<i class="fa fa-arrow-right"></i> n:pind-4, koht-5',
                        href: '#child3',
                        tags: ['0']
                    },
                    {
                        text: '<i class="fa fa-arrow-right"></i> n:hoonete kompleks-1, hoonekompleks-1, hoonestik-1',
                        href: '#child3',
                        tags: ['0']
                    },
                    {
                        text: '<i class="fa fa-arrow-right"></i> n:hoone-1, maja-2, ehitis-1',
                        href: '#child3',
                        tags: ['0']
                    },
                    {
                        text: '<i class="fa fa-arrow-right"></i> n:rajatis-1',
                        href: '#child3',
                        tags: ['0']
                    },
                    {
                        text: '<i class="fa fa-arrow-right"></i> n:konstruktsioon-1, tarind-1',
                        href: '#child3',
                        tags: ['0']
                    },
                    {
                        text: '<i class="fa fa-arrow-right"></i> n:ehitusdetail-1',
                        href: '#child3',
                        tags: ['0']
                    }
                ]
            }
        ];

        $('.senseRelationTree').treeview({
            color: "#428bca",
            expandIcon: "glyphicon glyphicon-plus",
            collapseIcon: "glyphicon glyphicon-minus",
            //nodeIcon: "glyphicon glyphicon-folder-open",
            showTags: true,
            data: senseRelationData,
            onNodeSelected: function(event, data) {
                $(".senseSubform").hide();
                $('.senseRelationContainer').show();
                $('html, body').animate({
                    scrollTop: $(".senseRelationContainer").offset().top
                }, 1000);
            }
        });
    });
</script>