<!-- SynSet relation form -->
<div class="row" style="">
    <div class="col-sm-12" style="">
        <h4>SynSet definition</h4>
    </div>
</div>
<div class="row" style="">
    <div class="col-lg-12">
        <div class="tabs-container">
            <ul class="nav nav-tabs">
                <li class="active"><a href="" data-target="#tab-61" data-toggle="tab">Definition</a></li>
                <li class=""><a href="" data-target="#tab-62" data-toggle="tab">Statements</a></li>
            </ul>
            <div class="tab-content wnwb-section-height" style="position: relative;">

                <div id="tab-61" class="tab-pane active">
                    <div class="panel-body">

                        <!--Table General -->
                        <fieldset class="form-horizontal">
                            <!--<div class="form-group">
                                <label class="col-sm-2 control-label">Status</label>
                                <div class="col-sm-2">
                                    <select class="form-control" name="status">
                                        <option>Draft</option>
                                        <option>Needs review</option>
                                        <option>Verified</option>
                                    </select>
                                </div>
                            </div>-->
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Language</label>
                                <div class="col-sm-2">
                                    <select class="form-control" name="status" ng-model="tempDef.language">
                                        <option ng-repeat="(key, value) in languageCodes" value="{{value.code}}">{{value.language}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Definition text</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" rows="5" ng-model="tempDef.text"></textarea>
                                </div>
                            </div>
                        </fieldset>

                    </div>
                </div>

                <div id="tab-62" class="tab-pane">
                    <div class="panel-body">

                        <!--Table Definitions/Statements -->
                        <div class="col-sm-12" style="">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div style="text-align: right;font-size: 20px;" class="">
                                        <a ng-click="addStatement()"><i class="fa fa-plus-circle"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>Statement text</th>
                                            <th>Source</th>
                                            <th>Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="(key, value) in tempDef.statements">
                                            <td ng-switch on="selectedStatement == value">
                                                <span ng-switch-when="false">{{value.text}}</span>
                                                <input ng-switch-when="true" class="form-control" ng-model="tempStmt.text">
                                            </td>
                                            <td>
                                                <span ng-hide="selectedStatement == value">{{value.source}}</span>
                                                <input ng-show="selectedStatement == value" class="form-control" ng-model="tempStmt.source">
                                            </td>
                                            <td>
                                                <a ng-click="editStatement(value)" class="btn btn-default btn-xs" ng-hide="selectedStatement == value"><i class="fa fa-pencil"></i> Edit</a>
                                                <a ng-click="cancelEdit()" class="btn btn-default btn-xs" ng-show="selectedStatement == value"><i class="fa fa-pencil"></i> Cancel</a>
                                                <a ng-click="saveStatement()" class="btn btn-default btn-xs" ng-show="selectedStatement == value"><i class="fa fa-pencil"></i> Save</a>
                                                <a ng-click="deleteStatement(value)" class="btn btn-default btn-xs"><i class="fa fa-minus-circle"></i> Delete</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="ibox-footer text-right" style="position: absolute;bottom: 20px;right: 20px;">
                    <a class="btn btn-warning btn-sm" ng-click="discardDefinition()"><i class="fa fa-remove"></i> Discard changes</a>
                    <a class="btn btn-success btn-sm" ng-click="saveDefinition()"><i class="fa fa-save"></i> Save</a>
                </div>
            </div>
        </div>
    </div>
</div>