<div style="">
    <div class="row m-t">
        <fieldset class="form-horizontal" style="margin-right: 15px;">
        <div class="form-group">
            <label class="col-sm-1 control-label">Anchor</label>
            <div class="col-sm-11">
                <select class="form-control">
                    <option ng-repeat="(key, value) in $storage.anchor">{{value.name}}</option>
                </select>
            </div>
            <!--<div class="col-md-5">
                <div style="text-align: right; margin: 0px 35px; font-size: 20px;" class="sub_menu">
                    <a onclick="display('#create_new')" href="javascript:void(0)"><i class="fa fa-plus-circle"></i></a>
                    <a href="javascript:void(0)"><i class="fa fa-minus-circle"></i></a>
                    <a href="javascript:void(0)"><i class="fa fa-pencil"></i></a>
                </div>
            </div>-->
        </div>
        </fieldset>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a showtab="#tab-1" href="" data-target="#tab-1" data-toggle="tab">Hyperonym tree</a></li>
                    <li class=""><a showtab="#tab-2" href="" data-target="#tab-2" data-toggle="tab" class="tabTest">1-st hyponyms</a></li>
                    <li class=""><a href="" data-target="#tab-3" data-toggle="tab">All hyponyms</a></li>
                    <li class=""><a href="" data-target="#tab-4" data-toggle="tab">Co-hyponyms</a></li>
                    <li class=""><a href="" data-target="#tab-5" data-toggle="tab">Near relations (alike / unlike)</a></li>
                </ul>
                <div class="tab-content" style="height: calc(50vh - 147px);">
                    <div id="tab-1" class="tab-pane active">
                        <div class="panel-body">
                            <div class="hyperonymTree"></div>
                        </div>
                    </div>
                    <div id="tab-2" class="tab-pane">
                        <div class="panel-body">
                            <div class="firstHyponymsTree"></div>
                        </div>
                    </div>
                    <div id="tab-3" class="tab-pane">
                        <div class="panel-body">
                            <div class="allHyponymsTree"></div>
                        </div>
                    </div>
                    <div id="tab-4" class="tab-pane">
                        <div class="panel-body">
                            <div class="coHyponymsTree"></div>
                        </div>
                    </div>
                    <div id="tab-5" class="tab-pane">
                        <div class="panel-body">
                            <div class="nearHyponymsTree"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- SynSet view -->
<div class="row synsetForm">
    <div class="col-sm-12">
        <h4>SynSet Id #, n:ehitatu-1, ehitus-1, ehitis-2 [ehitatud objekt v detail (1013)]</h4>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="tabs-container">
            <ul class="nav nav-tabs">
                <li class="active"><a href="" data-target="#tab-11" data-toggle="tab">Attributes</a></li>
                <li class=""><a href="" data-target="#tab-15" data-toggle="tab">Definition/Statements</a></li>
                <li class=""><a href="" data-target="#tab-12" data-toggle="tab">Sense variants</a></li>
                <li class=""><a href="" data-target="#tab-13" data-toggle="tab">Relations / Links</a></li>
                <li class=""><a href="" data-target="#tab-14" data-toggle="tab">External Refs</a></li>
            </ul>
            <div class="tab-content" style="position: relative;height: calc(50vh - 93px);">
                <div id="tab-11" class="tab-pane active">
                    <div class="panel-body">

                        <!--Table General -->
                        <fieldset class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-1 control-label">Type</label>
                                <div class="col-sm-2">
                                    <select class="form-control" name="status">
                                        <option>Normal</option>
                                        <option>Root</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label">Status</label>
                                <div class="col-sm-2">
                                    <select class="form-control" name="status">
                                        <option>Draft</option>
                                        <option>Needs review</option>
                                        <option>Verified</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label">Notes / Comments</label>
                                <div class="col-sm-11">
                                    <textarea class="form-control" rows="5"></textarea>
                                </div>
                            </div>
                        </fieldset>

                    </div>
                </div>
                <div id="tab-12" class="tab-pane">
                    <div class="panel-body">

                        <!--Table Variants -->
                        <div class="">
                            <div style="text-align: right;font-size: 20px;">
                                <a class="addSynsetSenseBtn"><i class="fa fa-plus-circle"></i></a>
                            </div>
                            <table class="table table-striped synsetSenseVariantTable">
                                <thead>
                                    <tr>
                                        <th>Sense</th>
                                        <th>Definition</th>
                                        <th>Examples</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="delete_style addSenseVariantBtn">
                                        <td>n:ehitatu-1</td>
                                        <td>ehitatud objekt v detail (1013)</td>
                                        <td>Example #1 <br />Example #2</td>
                                        <td>
                                            <a href=""><i class="fa fa-edit"></i></a>
                                            <a href=""><i class="fa fa-remove m-r-md"></i></a>
                                        </td>
                                    </tr>
                                    <tr class="delete_style addSenseVariantBtn">
                                        <td>n:ehitus-1</td>
                                        <td></td>
                                        <td>Example #1</td>
                                        <td>
                                            <a href=""><i class="fa fa-edit"></i></a>
                                            <a href=""><i class="fa fa-remove m-r-md"></i></a>
                                        </td>
                                    </tr>
                                    <tr class="delete_style addSenseVariantBtn">
                                        <td>n:ehitis-2</td>
                                        <td></td>
                                        <td>Example #1</td>
                                        <td>
                                            <a href=""><i class="fa fa-edit"></i></a>
                                            <a href=""><i class="fa fa-remove m-r-md"></i></a>
                                        </td>
                                    </tr>
                                    <tr class="delete_style addSenseVariantBtn newSenseVariantEl" style="display: none;">
                                        <td></td>
                                        <td></td>
                                        <td>Example #1</td>
                                        <td>
                                            <a href=""><i class="fa fa-remove m-r-md"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <div id="tab-13" class="tab-pane">
                    <div class="panel-body">

                        <!--Table Links -->
                        <div class="table table_to_change links_table">
                            <div style="text-align: right; font-size: 20px;" class="sub_menu">
                                <a href="" class="addSynsetRelationBtn"><i class="fa fa-plus-circle"></i></a>
                                <a href=""><i class="fa fa-minus-circle"></i></a>
                                <a href=""><i class="fa fa-pencil"></i></a>
                            </div>
                            <div class="synsetRelationTree"></div>
                        </div>

                    </div>
                </div>
                <div id="tab-14" class="tab-pane">
                    <div class="panel-body">

                        <!--Table External Links -->
                        <div class="">
                            <div style="text-align: right;font-size: 20px;" class="">
                                <a class="addSynsetExtRefBtn"><i class="fa fa-plus-circle"></i></a>
                            </div>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>External System</th>
                                        <th>Relation Type</th>
                                        <th>Key</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><span class="glyphicon glyphicon-checked"></span>Ext system key</td>
                                        <td>eq_synonyms</td>
                                        <td>41567821</td>
                                        <td>
                                            <a href=""><i class="fa fa-edit"></i></a>
                                            <a href=""><i class="fa fa-remove m-r-md"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span class="glyphicon glyphicon-checked"></span>Ext system key</td>
                                        <td>eq_synonyms</td>
                                        <td>41567822</td>
                                        <td>
                                            <a href=""><i class="fa fa-edit"></i></a>
                                            <a href=""><i class="fa fa-remove m-r-md"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span class="glyphicon glyphicon-checked"></span>Ext system key</td>
                                        <td>eq_generalization</td>
                                        <td>41567823</td>
                                        <td>
                                            <a href=""><i class="fa fa-edit"></i></a>
                                            <a href=""><i class="fa fa-remove m-r-md"></i></a>
                                        </td>
                                    </tr>
                                    <tr class="delete_style newSynsetExtRefEl" style="display: none;">
                                        <td><input class="form-control"></td>
                                        <td><select class="form-control"><option>eq_synonyms</option><option>eq_generalization</option></select></td>
                                        <td><input class="form-control"></td>
                                        <td>
                                            <a href=""><i class="fa fa-edit"></i></a>
                                            <a href=""><i class="fa fa-remove m-r-md"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <div id="tab-15" class="tab-pane">
                    <div class="panel-body">

                        <!--Table Definitions/Statements -->
                        <fieldset class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-1 control-label">Definitions</label>
                                <div class="col-sm-11">
                                    <!--<textarea class="form-control" rows="2">ehitatud objekt v detail (1013)</textarea>-->
                                    <div style="text-align: right;font-size: 20px;" class="">
                                        <a class="addSynsetStatementBtn"><i class="fa fa-plus-circle"></i></a>
                                    </div>
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>Statement text</th>
                                            <th>Language</th>
                                            <th>Source</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="delete_style">
                                            <td>Statement in estonian</td>
                                            <td>EST</td>
                                            <td>Source key/text</td>
                                            <td>
                                                <a href=""><i class="fa fa-edit"></i></a>
                                                <a href=""><i class="fa fa-remove m-r-md"></i></a>
                                            </td>
                                        </tr>
                                        <tr class="delete_style">
                                            <td>Statement in latvian</td>
                                            <td>LAV</td>
                                            <td>Source key/text</td>
                                            <td>
                                                <a href=""><i class="fa fa-edit"></i></a>
                                                <a href=""><i class="fa fa-remove m-r-md"></i></a>
                                            </td>
                                        </tr>
                                        <tr class="delete_style">
                                            <td>Statement in finnish</td>
                                            <td>FIN</td>
                                            <td>Source key/text</td>
                                            <td>
                                                <a href=""><i class="fa fa-edit"></i></a>
                                                <a href=""><i class="fa fa-remove m-r-md"></i></a>
                                            </td>
                                        </tr>
                                        <tr class="delete_style newSynsetStatementEl" style="display: none;">
                                            <td><input class="form-control"></td>
                                            <td>
                                                <select class="form-control">
                                                    <option>EST</option>
                                                    <option>LAV</option>
                                                    <option>FIN</option>
                                                </select>
                                            </td>
                                            <td><input class="form-control"></td>
                                            <td>
                                                <a href=""><i class="fa fa-edit"></i></a>
                                                <a href=""><i class="fa fa-remove m-r-md"></i></a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label">Statements</label>
                                <div class="col-sm-11">
                                    <div style="text-align: right;font-size: 20px;" class="">
                                        <a class="addSynsetStatementBtn"><i class="fa fa-plus-circle"></i></a>
                                    </div>
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Statement text</th>
                                                <th>Language</th>
                                                <th>Source</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="delete_style">
                                            <td>Statement in estonian</td>
                                            <td>EST</td>
                                            <td>Source key/text</td>
                                            <td>
                                                <a href=""><i class="fa fa-edit"></i></a>
                                                <a href=""><i class="fa fa-remove m-r-md"></i></a>
                                            </td>
                                        </tr>
                                        <tr class="delete_style">
                                            <td>Statement in latvian</td>
                                            <td>LAV</td>
                                            <td>Source key/text</td>
                                            <td>
                                                <a href=""><i class="fa fa-edit"></i></a>
                                                <a href=""><i class="fa fa-remove m-r-md"></i></a>
                                            </td>
                                        </tr>
                                        <tr class="delete_style">
                                            <td>Statement in finnish</td>
                                            <td>FIN</td>
                                            <td>Source key/text</td>
                                            <td>
                                                <a href=""><i class="fa fa-edit"></i></a>
                                                <a href=""><i class="fa fa-remove m-r-md"></i></a>
                                            </td>
                                        </tr>
                                        <tr class="delete_style newSynsetStatementEl" style="display: none;">
                                            <td><input class="form-control"></td>
                                            <td>
                                                <select class="form-control">
                                                    <option>EST</option>
                                                    <option>LAV</option>
                                                    <option>FIN</option>
                                                </select>
                                            </td>
                                            <td><input class="form-control"></td>
                                            <td>
                                                <a href=""><i class="fa fa-edit"></i></a>
                                                <a href=""><i class="fa fa-remove m-r-md"></i></a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>

                <div class="ibox-footer text-right" style="position: absolute;bottom: 20px;right: 20px;">
                    <a class="btn btn-warning btn-sm"><i class="fa fa-remove"></i> Discard changes</a>
                    <a class="btn btn-success btn-sm"><i class="fa fa-save"></i> Save</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div ui-view></div>