<div class="container">
    <div class="inline-2 first">
        <ul class="nav nav-tabs">
            <li id="pill1" class="active pills"><a href="javascript:void(0)" onclick="changeLeftMenu('#hyperonym_tree', '#pill1')">Hyperonym tree</a></li>
            <li id="pill2" class="pills"><a href="javascript:void(0)" onclick="changeLeftMenu('#first_hyponym_tree', '#pill2')">1st Hyponyms</a></li>
            <li id="pill3" class="pills"><a href="javascript:void(0)" onclick="changeLeftMenu('#all_hyponym_tree', '#pill3')">All Hyponyms</a></li>
            <li id="pill4" class="pills"><a href="javascript:void(0)" onclick="changeLeftMenu('#coordinates_tree', '#pill4')">Coordinates</a></li>
            <li id="pill5" class="pills"><a href="javascript:void(0)" onclick="changeLeftMenu('#alike_tree', '#pill5')">Alike/unlike</a></li>
            <li id="pill6" class="pills"><a href="javascript:void(0)" onclick="changeLeftMenu('#scope_tree', '#pill6')">Your Scope</a></li>
        </ul>
        <div class="bg_white tree_content">
            <div class="row margin-top-15">
                <div class="form-group">
                    <div class="col-md-1">
                        <label style="padding-top: 5px">Anchor:</label>
                    </div>
                    <div class="col-md-6">
                        <select class="form-control" id="anchor1">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                    <div class="col-md-5">
                        <div style="text-align: right; margin: 0px 35px; font-size: 20px;" class="sub_menu">
                            <a onclick="display('#create_new')" href="javascript:void(0)"><i
                                    class="fa fa-plus-circle"></i></a>
                            <a href="javascript:void(0)"><i class="fa fa-minus-circle"></i></a>
                            <a href="javascript:void(0)"><i class="fa fa-pencil"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">

                    <div style="padding-top: 20px" id="hyperonym_tree" class="active tree"></div>
                    <div style="padding-top: 20px" id="first_hyponym_tree" class="hidden tree"></div>
                    <div style="padding-top: 20px" id="all_hyponym_tree" class="hidden tree"></div>
                    <div style="padding-top: 20px" id="coordinates_tree" class="hidden tree"></div>
                    <div style="padding-top: 20px" id="alike_tree" class="hidden tree"></div>
                    <div style="padding-top: 20px" id="scope_tree" class="hidden tree"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg_white">
        <div class="inline-2 second">
            <ul class="nav nav-tabs">
                <li id="tab1" class="active tabs"><a href="javascript:void(0)" onclick="changeRightMenu('general_table', '#tab1')">General</a>
                </li>
                <li id="tab2" class="tabs"><a href="javascript:void(0)" onclick="changeRightMenu('variants_table', '#tab2')">Variants</a>
                </li>
                <li id="tab3" class="tabs"><a href="javascript:void(0)" onclick="changeRightMenu('links_table', '#tab3')">Links</a>
                </li>
                <li id="tab4" class="tabs"><a href="javascript:void(0)" onclick="changeRightMenu('ext_links_table', '#tab4')">External Links</a>
                </li>
                <li id="tab5" class="tabs"><a href="javascript:void(0)" onclick="changeRightMenu('def_state_table', '#tab5')">Definitions/Statements</a>
                </li>
            </ul>

            <div class="table_right">
                <div class="scroll_y">
                    <!--Table General -->
                    <div class="table table_to_change table-striped general_table active">
                        <div class="form-group margin-top-15">
                            <label for="status">Status:</label>
                            <select id="status">
                                <option>Draft</option>
                                <option>Review</option>
                                <option>Done</option>
                            </select>
                        </div>
                        <div class="form-group margin-top-15">
                            <label class="control-label">Notes:</label>
                            <textarea class="form-control" rows="5"></textarea>
                        </div>
                    </div>
                    <!--Table Variants -->
                    <div class="table_to_change variants_table hidden">
                        <div style="text-align: right; margin: 10px 35px; font-size: 20px;" class="sub_menu">
                            <a onclick="displayAccordingToMenu()" href="javascript:void(0)"><i
                                    class="fa fa-plus-circle"></i></a>
                            <a href="javascript:void(0)"><i class="fa fa-minus-circle"></i></a>
                            <a href="javascript:void(0)"><i class="fa fa-pencil"></i></a>
                        </div>
                        <table class="table table-striped">
                            <tr>
                                <th>Variant</th>
                                <th>Definition</th>
                            </tr>
                            <tr id="1" class="delete_style" onclick="changeColor('#1')">
                                <td><span class="glyphicon glyphicon-option-horizontal "></span> signaal-1</td>
                                <td>üks teatud keele osa</td>
                            </tr>
                            <tr id="2" class="delete_style" onclick="changeColor('#2')">
                                <td><span class="glyphicon glyphicon-option-horizontal"></span> keeleüksus</td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                    <!--Table Links -->
                    <div class="table table_to_change links_table hidden">
                        <div style="text-align: right; margin: 10px 35px; font-size: 20px;" class="sub_menu">
                            <a onclick="displayAccordingToMenu()" href="javascript:void(0)"><i class="fa fa-plus-circle"></i></a>
                            <a href="javascript:void(0)"><i class="fa fa-minus-circle"></i></a>
                            <a href="javascript:void(0)"><i class="fa fa-pencil"></i></a>
                        </div>
                        <div id="links_tree" class=""></div>
                    </div>
                    <!--Table External Links -->
                    <div class="table_to_change ext_links_table hidden">
                        <div style="text-align: right; margin: 10px 35px; font-size: 20px;" class="sub_menu">
                            <a onclick="displayAccordingToMenu()" href="javascript:void(0)"><i class="fa fa-plus-circle"></i></a>
                            <a href="javascript:void(0)"><i class="fa fa-minus-circle"></i></a>
                            <a href="javascript:void(0)"><i class="fa fa-pencil"></i></a>
                        </div>
                        <table class="table table-striped">
                            <tr>
                                <th>External System</th>
                                <th>Relation Type</th>
                                <th>Key</th>
                            </tr>
                            <tr id="5" class="delete_style" onclick="changeColor('#5')">
                                <td><span class="glyphicon glyphicon-checked"></span> eq_synonyms</td>
                                <td>one of the natural units into which linguistic messages can be analyzed</td>
                                <td>41567823</td>
                            </tr>
                            <tr id="6" class="delete_style" onclick="changeColor('#6')">
                                <td><span class="glyphicon glyphicon-checked"></span> eq_synonyms</td>
                                <td>one of the natural units into which linguistic messages can be analyzed</td>
                                <td>41567823</td>
                            </tr>
                        </table>
                    </div>
                    <!--Table Definitions/Statements -->
                    <div class="table_to_change def_state_table hidden">
                        <div class="form-group margin-top-15">
                            <label class="control-label">Definitions:</label>
                            <textarea class="form-control" rows="2"></textarea>
                        </div>
                        <div style="text-align: right; margin: 10px 35px; font-size: 20px;" class="sub_menu">
                            <a onclick="displayAccordingToMenu()" href="javascript:void(0)"><i class="fa fa-plus-circle"></i></a>
                            <a href="javascript:void(0)"><i class="fa fa-minus-circle"></i></a>
                            <a href="javascript:void(0)"><i class="fa fa-pencil"></i></a>
                        </div>
                        <table class="table table-striped">
                            <tr><th>Statements</th></tr>
                            <tr id="3" class="delete_style" onclick="changeColor('#3')">
                                <td><span class="glyphicon glyphicon-checked"></span> eq_synonyms</td>
                            </tr>
                            <tr id="4" class="delete_style" onclick="changeColor('#4')">
                                <td><span class="glyphicon glyphicon-checked"></span> eq_synonyms</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>