<h1>{{searchTitle}} results</h1>
<spinner name="extSearchResultSpinner">
    <div class="overlay"></div>
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
    <div class="please-wait">Searching ...</div>
</spinner>
<ul uib-pagination total-items="searchResult.count" items-per-page="searchResult.limit" ng-model="currentPage" max-size="30" class="pagination-sm" boundary-links="true" force-ellipses="true" ng-change="pageChanged()"></ul>

<br/>
Total: {{searchResult.count}}<br/>
Shown: {{searchResult.limit}}<br/>
Offset: {{searchResult.offset}}<br/>
CurrentPage: {{currentPage}} <br/>

<table class="table table-selectable" ng-if="searchType=='synset'">
<thead>
<tr>
    <th>&nbsp;</th>
    <th>Id</th>
    <th>Label</th>
    <th>Type</th>
    <th>Status</th>
    <th>Variants Str</th>
    <th>Comment</th>
    <th>Primary Def</th>
  
</tr>
</thead>
<tbody>
    <tr class="tableRow" ng-repeat="(key, value) in searchResult.results" >
        <td>{{key+1+searchResult.offset}}</td>
        <td>{{value.id}}</td>
        <td>{{value.label}}</td>
        <td>{{value.synset_type}}</td>
        <td>{{value.status}}</td>
        <td>{{value.variants_str}}</td>
        <td>{{value.comment}}</td>
        <td>{{value.primary_definition}}</td>
    </tr>
</tbody>
</table>

<table class="table table-selectable" ng-if="searchType=='sense'">
<thead>
<tr>
    <th>&nbsp;</th>
    <th>Id</th>
    <th>Lexicon</th>
    <th>part_of_speech</th>
    <th>lemma</th>
    <th>distinctive_case</th>
    <th>distinctive_form</th>
    <th>scheme</th>
    <th>grammatical_number</th>
    <th>grammatical_gender</th>
    <th>created_by</th>
    <th>date_created</th>
    <th>updated_by</th>
    <th>date_updated</th>
    <th>nr</th>
    <th>label</th>
    <th>synset</th>
    <th>style</th>
</tr>
</thead>
<tbody>
    <tr class="tableRow" ng-repeat="(key, value) in searchResult.results" >
        <td>{{key+1+searchResult.offset}}</td>
        <td>{{value.lexical_entry.id}}</td>
        <td>{{value.lexical_entry.lexicon}}</td>
        <td>{{value.lexical_entry.part_of_speech}}</td>
        <td>{{value.lexical_entry.lemma}}</td>
        <td>{{value.lexical_entry.distinctive_case}}</td>
        <td>{{value.lexical_entry.distinctive_form}}</td>
        <td>{{value.lexical_entry.scheme}}</td>
        <td>{{value.lexical_entry.grammatical_number}}</td>
        <td>{{value.lexical_entry.grammatical_gender}}</td>
        <td>{{value.lexical_entry.created_by}}</td>
        <td>{{value.lexical_entry.date_created}}</td>
        <td>{{value.lexical_entry.updated_by}}</td>
        <td>{{value.lexical_entry.date_updated}}</td>
        <td>{{value.lexical_entry.nr}}</td>
        <td>{{value.lexical_entry.label}}</td>
        <td>{{value.lexical_entry.synset}}</td>
        <td>{{value.lexical_entry.style}}</td>
    </tr>
</tbody>
</table>

<table class="table table-selectable" ng-if="searchType=='lexentry'">
<thead>
<tr>
    <th>&nbsp;</th>
    <th>Id</th>
    <th>Lexicon</th>
    <th>part_of_speech</th>
    <th>lemma</th>
    <th>distinctive_case</th>
    <th>distinctive_form</th>
    <th>scheme</th>
    <th>grammatical_number</th>
    <th>grammatical_gender</th>
    <th>created_by</th>
    <th>date_created</th>
    <th>updated_by</th>
    <th>date_updated</th>
</tr>
</thead>
<tbody>
    <tr class="tableRow" ng-repeat="(key, value) in searchResult.results" >
        <td>{{key+1+searchResult.offset}}</td>
        <td>{{value.id}}</td>
        <td>{{value.lexicon}}</td>
        <td>{{value.part_of_speech}}</td>
        <td>{{value.lemma}}</td>
        <td>{{value.distinctive_case}}</td>
        <td>{{value.distinctive_form}}</td>
        <td>{{value.scheme}}</td>
        <td>{{value.grammatical_number}}</td>
        <td>{{value.grammatical_gender}}</td>
        <td>{{value.created_by}}</td>
        <td>{{value.date_created}}</td>
        <td>{{value.updated_by}}</td>
        <td>{{value.date_updated}}</td>
    </tr>
</tbody>
</table>

 <ul uib-pagination total-items="searchResult.count" items-per-page="searchResult.limit" ng-model="currentPage" max-size="30" class="pagination-sm" boundary-links="true" force-ellipses="true" ng-change="pageChanged()"></ul>
