<!--Table External Links -->
<div class="">
    <div style="text-align: right;font-size: 20px;" class="">
        <a href="" class="addSenseExtRefBtn"><i class="fa fa-plus-circle"></i></a>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>External System</th>
            <th>Relation Type</th>
            <th>Key</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><span class="glyphicon glyphicon-checked"></span>Ext system key</td>
            <td>eq_synonyms</td>
            <td>41567821</td>
            <td>
                <a href=""><i class="fa fa-edit"></i></a>
                <a href=""><i class="fa fa-remove m-r-md"></i></a>
            </td>
        </tr>
        <tr>
            <td><span class="glyphicon glyphicon-checked"></span>Ext system key</td>
            <td>eq_synonyms</td>
            <td>41567822</td>
            <td>
                <a href=""><i class="fa fa-edit"></i></a>
                <a href=""><i class="fa fa-remove m-r-md"></i></a>
            </td>
        </tr>
        <tr>
            <td><span class="glyphicon glyphicon-checked"></span>Ext system key</td>
            <td>eq_generalization</td>
            <td>41567823</td>
            <td>
                <a href=""><i class="fa fa-edit"></i></a>
                <a href=""><i class="fa fa-remove m-r-md"></i></a>
            </td>
        </tr>
        <tr class="delete_style newSenseExtRefEl" style="display: none;">
            <td><input class="form-control"></td>
            <td><select class="form-control"><option>eq_synonyms</option><option>eq_generalization</option></select></td>
            <td><input class="form-control"></td>
            <td>
                <a href=""><i class="fa fa-edit"></i></a>
                <a href=""><i class="fa fa-remove m-r-md"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>