<!-- Sense form -->
<div class="row synsetSubform senseVariantContainer" style="margin-top: 10px;margin-bottom: 10px;">
    <div class="col-sm-6" style="font-size: 18px;" ng-show="sense.id">
        Sense Id {{sense.id}}, {{sense.label}}
    </div>
    <div class="col-sm-6" style="font-size: 18px;" ng-show="sense.id && sense.synset && !synSet.id">
        <a href="#/synset/{{sense.synset}}" class="pull-right btn btn-default btn-sm">Go to SynSet</a>
    </div>
    <div class="col-sm-6" style="font-size: 18px;" ng-hide="sense.id">
        New sense
    </div>
</div>
<div class="row synsetSubform senseVariantContainer" style="">
    <div class="col-lg-12">

        <div class="tabs-container" vertilize-container>
            <ul class="nav nav-tabs">
                <li class=""><a href="" data-target="#tab-41" data-toggle="tab">Attributes</a></li>
                <li class=""><a href="" data-target="#tab-45" data-toggle="tab">Definitions</a></li>
                <li class=""><a href="" data-target="#tab-46" data-toggle="tab" ng-click="xscroll()">Examples</a></li>
                <li class="active"><a href="" data-target="#tab-47" data-toggle="tab" ng-click="xscroll()">Grammatical info</a></li>
                <li class=""><a href="" data-target="#tab-43" data-toggle="tab">Relations</a></li>
                <li class=""><a href="" data-target="#tab-44" data-toggle="tab">External Refs</a></li>
            </ul>
            <div class="tab-content">

                <div id="tab-41" class="tab-pane">
                    <div class="panel-body" ng-include="'view/sense/general.html'" vertilize></div>
                </div>

                <div id="tab-47" class="tab-pane active">
                    <div class="panel-body" ng-include="'view/sense/grammaticalInfo.html'" vertilize></div>
                </div>

                <div id="tab-43" class="tab-pane">
                    <div class="panel-body" ng-include="'view/sense/relations.html'" vertilize></div>
                </div>
                <div id="tab-44" class="tab-pane">
                    <div class="panel-body" ng-include="'view/sense/extRefs.html'" vertilize></div>
                </div>
                <div id="tab-45" class="tab-pane">
                    <div class="panel-body" ng-include="'view/sense/definitions.html'" vertilize></div>
                </div>
                <div id="tab-46" class="tab-pane">
                    <div class="panel-body" ng-include="'view/sense/examples.html'" vertilize></div>
                </div>

                <div class="ibox-footer text-right">
                    <a class="btn btn-warning btn-sm" ng-click="discardSenseChanges()"><i class="fa fa-remove"></i> Forget</a>
                    <a class="btn btn-success btn-sm" ng-click="saveAction()"><i class="fa fa-save"></i> Remember</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div ui-view></div>