<!--<nav class="navbar navbar-fixed-top border-bottom white-bg" style="top: 51px;">
    <div class="navbar-collapse collapse">-->
        <div>
        <fieldset class="form-horizontal" style="margin-right: 15px;">
            <div class="form-group">
                <label class="col-sm-1 control-label">Anchor</label>
                <div class="col-sm-11">
                    <select class="form-control">
                        <option>n:baas-1</option>
                        <option>n:baas-2</option>
                        <option selected="selected">n:baas-3</option>
                    </select>
                </div>
            </div>
        </fieldset>
        </div>
    <!--</div>
</nav>-->
<div class="row">
    <div class="col-lg-12">
        <div class="tabs-container">
            <ul class="nav nav-tabs">
                <li class="active"><a showtab="#tab-1" href="" data-target="#tab-1" data-toggle="tab">Relation tree #1</a></li>
                <li class=""><a showtab="#tab-2" href="" data-target="#tab-1" data-toggle="tab">Relation tree #2</a></li>
                <li class=""><a showtab="#tab-3" href="" data-target="#tab-1" data-toggle="tab">Relation tree #3</a></li>
                <!--<li class=""><a showtab="#tab-2" href="" data-target="#tab-2" data-toggle="tab" class="tabTest">Antonyms</a></li>-->
            </ul>
            <div class="tab-content wnwb-section-height">
                <div id="tab-1" class="tab-pane active">
                    <div class="panel-body">
                        <div class="hyperonym_tree"></div>
                    </div>
                </div>
                <div id="tab-2" class="tab-pane">
                    <div class="panel-body">
                        <div class="hyperonym_tree"></div>
                    </div>
                </div>
                <div id="tab-3" class="tab-pane">
                    <div class="panel-body">
                        <div class="hyperonym_tree"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Sense form -->
<div class="row synsetSubform senseVariantContainer" style="margin-top: 10px;margin-bottom: 10px;">
    <div class="col-sm-6" style="font-size: 18px;">
        Sense Id #, n:ehitatu-1
    </div>
    <!--<div class="col-sm-6">
        <a class="btn btn-default btn-sm pull-right" data-toggle="modal" data-target="#new_literal_search" href=""><b><i class="fa fa-search"></i> Browse</b></a>
    </div>-->
</div>
<div class="row synsetSubform senseVariantContainer" style="">
    <div class="col-lg-12">
        <div class="tabs-container">
            <ul class="nav nav-tabs">
                <li class=""><a href="" data-target="#tab-41" data-toggle="tab">Attributes</a></li>
                <li class=""><a href="" data-target="#tab-45" data-toggle="tab">Definition/Statements</a></li>
                <li class=""><a href="" data-target="#tab-46" data-toggle="tab">Examples</a></li>
                <li class="active"><a href="" data-target="#tab-47" data-toggle="tab">Grammatical info</a></li>
                <li class=""><a href="" data-target="#tab-43" data-toggle="tab">Relations / Links</a></li>
                <li class=""><a href="" data-target="#tab-44" data-toggle="tab">External Refs</a></li>
            </ul>
            <div class="tab-content wnwb-section-height" style="position: relative;">

                <div id="tab-41" class="tab-pane">
                    <div class="panel-body">

                        <!--Table General -->
                        <fieldset class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-1 control-label">Status</label>
                                <div class="col-sm-2">
                                    <select class="form-control" name="status" ng-model="sense.status">
                                        <option value="D">Draft</option>
                                        <option value="N">Needs review</option>
                                        <option value="V">Verified</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label">Notes / Comments</label>
                                <div class="col-sm-11">
                                    <textarea class="form-control" rows="5"></textarea>
                                </div>
                            </div>
                        </fieldset>

                    </div>
                </div>

                <div id="tab-47" class="tab-pane active">
                    <div class="panel-body">

                        <!--Table Grammatical Info -->
                        <fieldset class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Part of speech</label>
                                <div class="col-sm-3">
                                    <select class="form-control" name="status" ng-model="sense.lexical_entry.part_of_speech">
                                        <option> - Part of speech - </option>
                                        <option value="n">Noun</option>
                                        <option value="v">Verb</option>
                                        <option value="adj">Adjective</option>
                                        <option value="adv">Adverb</option>
                                        <option value="pn">Proper noun</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Lemma</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" placeholder="Lemma" ng-model="sense.lexical_entry.lemma">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Grammatical number</label>
                                <div class="col-sm-3">
                                    <select class="form-control" name="status" ng-model="sense.lexical_entry.grammatical_number">
                                        <option> - Grammatical number - </option>
                                        <option value="s">Singular</option>
                                        <option value="p">Prural</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Grammatical gender</label>
                                <div class="col-sm-3">
                                    <select class="form-control" name="status" ng-model="sense.lexical_entry.grammatical_gender">
                                        <option> - Grammatical gender - </option>
                                        <option value="m">Masculine</option>
                                        <option value="f">Feminine</option>
                                        <option value="n">Neuter</option>
                                        <option value="a">Animate</option>
                                        <option value="i">Inanimate</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Style</label>
                                <div class="col-sm-3">
                                    <select class="form-control" name="sentiment" ng-model="sense.style">
                                        <option value=""> - N/A - </option>

                                        <!--
                                        <option>halvustav</option>
                                        <option>harvaesinev</option>
                                        <option>irooniline</option>
                                        <option>kiriklik (ristiusu, kirikuga seotud)</option>
                                        <option>kõnekeelne</option>
                                        <option>lastekeelne</option>
                                        <option>luulekeelne</option>
                                        <option>murdekeelne</option>
                                        <option>naljatlev</option>
                                        <option>nõukogulik</option>
                                        <option>piltlik</option>
                                        <option>släng</option>
                                        <option>vananenud, vanemas keeles</option>
                                        <option>vanas kirjakeeles</option>
                                        <option>vulgaarne</option>
                                        -->

                                    </select>
                                </div>
                            </div>
                        </fieldset>

                    </div>
                </div>

                <div id="tab-43" class="tab-pane">
                    <div class="panel-body">

                        <!--Table Links -->
                        <div class="table table_to_change links_table">
                            <div style="text-align: right; font-size: 20px;" class="sub_menu">
                                <a href="" class="addSenseRelationBtn"><i class="fa fa-plus-circle"></i></a>
                                <a href=""><i class="fa fa-minus-circle"></i></a>
                                <a href=""><i class="fa fa-pencil"></i></a>
                            </div>
                            <div class="senseRelationTree"></div>
                        </div>

                    </div>
                </div>
                <div id="tab-44" class="tab-pane">
                    <div class="panel-body">

                        <!--Table External Links -->
                        <div class="">
                            <div style="text-align: right;font-size: 20px;" class="">
                                <a href="" class="addSenseExtRefBtn"><i class="fa fa-plus-circle"></i></a>
                            </div>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>External System</th>
                                    <th>Relation Type</th>
                                    <th>Key</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><span class="glyphicon glyphicon-checked"></span>Ext system key</td>
                                    <td>eq_synonyms</td>
                                    <td>41567821</td>
                                    <td>
                                        <a href=""><i class="fa fa-edit"></i></a>
                                        <a href=""><i class="fa fa-remove m-r-md"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="glyphicon glyphicon-checked"></span>Ext system key</td>
                                    <td>eq_synonyms</td>
                                    <td>41567822</td>
                                    <td>
                                        <a href=""><i class="fa fa-edit"></i></a>
                                        <a href=""><i class="fa fa-remove m-r-md"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="glyphicon glyphicon-checked"></span>Ext system key</td>
                                    <td>eq_generalization</td>
                                    <td>41567823</td>
                                    <td>
                                        <a href=""><i class="fa fa-edit"></i></a>
                                        <a href=""><i class="fa fa-remove m-r-md"></i></a>
                                    </td>
                                </tr>
                                <tr class="delete_style newSenseExtRefEl" style="display: none;">
                                    <td><input class="form-control"></td>
                                    <td><select class="form-control"><option>eq_synonyms</option><option>eq_generalization</option></select></td>
                                    <td><input class="form-control"></td>
                                    <td>
                                        <a href=""><i class="fa fa-edit"></i></a>
                                        <a href=""><i class="fa fa-remove m-r-md"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <div id="tab-45" class="tab-pane" style="min-height: 100%;height: 100%;">
                    <div class="panel-body" style="min-height: 100%;height: 100%;padding-bottom: 30px;">

                        <!--Table Definitions/Statements -->
                        <div class="col-sm-12" style="min-height: 100%;height: 100%;overflow-y: auto;">
                            <div class="row">
                                <div class="col-sm-1">
                                    <label class="control-label">Definitions</label>
                                    <div style="font-size: 20px;" class="">
                                        <a class="addSenseStatementBtn"><i class="fa fa-plus-circle"></i></a>
                                    </div>
                                </div>
                                <div class="col-sm-11">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Status</th>
                                                <th>Definition text</th>
                                                <th>Language</th>
                                                <th>Source</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="(key, value) in sense.sense_definitions" ng-click="showDefinition">
                                                <td></td>
                                                <td>{{value.text}}</td>
                                                <td>{{value.language}}</td>
                                                <td>{{value.source}}</td>
                                                <td>
                                                    <a href=""><i class="fa fa-edit"></i></a>
                                                    <a href=""><i class="fa fa-remove m-r-md"></i></a>
                                                </td>
                                            </tr>
                                            <tr class="delete_style newSenseStatementEl" style="display: none;">
                                                <td><input class="form-control"></td>
                                                <td>
                                                    <select class="form-control">
                                                        <option>EST</option>
                                                        <option>LAV</option>
                                                        <option>FIN</option>
                                                    </select>
                                                </td>
                                                <td><input class="form-control"></td>
                                                <td>
                                                    <a href=""><i class="fa fa-edit"></i></a>
                                                    <a href=""><i class="fa fa-remove m-r-md"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-46" class="tab-pane">
                    <div class="panel-body">

                        <!--Table Examples -->
                        <div style="text-align: right;font-size: 20px;" class="">
                            <a class="addSenseExampleBtn"><i class="fa fa-plus-circle"></i></a>
                        </div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Example text</th>
                                    <th>Language</th>
                                    <th>Source</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="(key, value) in sense.examples">
                                    <td>{{value.text}}</td>
                                    <td>{{value.language}}</td>
                                    <td>{{value.source}}</td>
                                    <td>
                                        <a href=""><i class="fa fa-edit"></i></a>
                                        <a href=""><i class="fa fa-remove m-r-md"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="ibox-footer text-right" style="position: absolute;bottom: 10px;right: 20px;">
                    <a class="btn btn-warning btn-sm senseEditCloseBtn"><i class="fa fa-remove"></i> Discard changes</a>
                    <a class="btn btn-success btn-sm senseEditCloseBtn"><i class="fa fa-save"></i> Save</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <a ng-click="showDefinition()">Open sense definition</a>
    <a ng-click="showRelation()">Open sense relation</a>
</div>

<div class="animate-switch-container" ng-switch on="secondaryView">
    <div class="animate-switch" ng-switch-when="definition">
        <div class="animate-switch" ng-include="'view/sense/senseDefinition.html?1'"></div>
    </div>
    <div class="animate-switch" ng-switch-when="relation">
        <div class="animate-switch" ng-include="'view/sense/senseRelation.html?1'"></div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(document).on('click', ".addSenseRelationBtn", function(event) {
            //$(".senseSubform").hide();
            $('.senseRelationContainer').show();
            $('html, body').animate({
                scrollTop: $(".senseRelationContainer").offset().top
            }, 1000);
            event.preventDefault();
        });

        $(document).on('click', '.senseRelationCloseBtn', function (e) {
            e.preventDefault();
            $('.synsetSenseVariantTable tr').removeClass('active');
            $('html, body').animate({
                scrollTop: 0
            }, 1000, function () {
                $('.senseRelationContainer').hide();
            });
        });

        $(document).on('click', '.addSenseExtRefBtn', function (e) {
            e.preventDefault();
            $('.newSenseExtRefEl').show();
        });

        $(document).on('click', '.addSenseStatementBtn', function (e) {
            e.preventDefault();
            $('.newSenseStatementEl').show();
        });

        $(document).on('click', '.addSenseExampleBtn', function (e) {
            e.preventDefault();
            $('.newSenseExampleEl').show();
        });

        $(document).on('click', '.table > tbody > tr', function() {
            $(this).closest('tbody').find('tr').removeClass('active');
            $(this).addClass('active');
        });

        var senseRelationData = [
            {
                text: '<i class="fa fa-link"></i> has_hyperonym',
                href: '#parent1',
                tags: ['1'],
                nodes: [
                    {
                        text: '<i class="fa fa-arrow-right"></i> n:asi-4, tehisasi-2, artefakt-2',
                        href: '#child1',
                        tags: ['0']

                    },
                    {
                        text: '<i class="fa fa-arrow-right"></i> n: signaal-2,märk4...',
                        href: '#child1',
                        tags: ['0']

                    }


                ]
            },
            {
                text: '<i class="fa fa-link"></i> has_hyponym',
                href: '#parent2',
                tags: ['6'],
                nodes: [
                    {
                        text: '<i class="fa fa-arrow-right"></i> n:pind-4, koht-5',
                        href: '#child3',
                        tags: ['0']
                    },
                    {
                        text: '<i class="fa fa-arrow-right"></i> n:hoonete kompleks-1, hoonekompleks-1, hoonestik-1',
                        href: '#child3',
                        tags: ['0']
                    },
                    {
                        text: '<i class="fa fa-arrow-right"></i> n:hoone-1, maja-2, ehitis-1',
                        href: '#child3',
                        tags: ['0']
                    },
                    {
                        text: '<i class="fa fa-arrow-right"></i> n:rajatis-1',
                        href: '#child3',
                        tags: ['0']
                    },
                    {
                        text: '<i class="fa fa-arrow-right"></i> n:konstruktsioon-1, tarind-1',
                        href: '#child3',
                        tags: ['0']
                    },
                    {
                        text: '<i class="fa fa-arrow-right"></i> n:ehitusdetail-1',
                        href: '#child3',
                        tags: ['0']
                    }
                ]
            }
        ];

        $('.senseRelationTree').treeview({
            color: "#428bca",
            expandIcon: "glyphicon glyphicon-plus",
            collapseIcon: "glyphicon glyphicon-minus",
            //nodeIcon: "glyphicon glyphicon-folder-open",
            showTags: true,
            data: senseRelationData,
            onNodeSelected: function(event, data) {
                $(".senseSubform").hide();
                $('.senseRelationContainer').show();
                $('html, body').animate({
                    scrollTop: $(".senseRelationContainer").offset().top
                }, 1000);
            }
        });
    });
</script>