<!-- SynSet relation form -->
<div class="row" style="">
    <div class="col-sm-12" style="">
        <h4>Sense definition</h4>
    </div>
</div>

<uib-tabset>
    <uib-tab heading="Definition">

        <!--Table General -->
        <fieldset class="form-horizontal">
            <!--<div class="form-group">
                <label class="col-sm-2 control-label">Status</label>
                <div class="col-sm-2">
                    <select class="form-control" name="status">
                        <option>Draft</option>
                        <option>Needs review</option>
                        <option>Verified</option>
                    </select>
                </div>
            </div>-->
            <div class="form-group">
                <label class="col-sm-2 control-label">Language</label>
                <div class="col-sm-2">
                    <span>{{tempDef.language}}</span>
                    <input class="form-control" autocomplete="off" ng-model="tempDef.language" placeholder="Select language" type="text" uib-typeahead="item as item.language for item in languageCodes | filter:$viewValue | limitTo:8" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Definition text</label>
                <div class="col-sm-10">
                    <textarea class="form-control" rows="5" ng-model="tempDef.text"></textarea>
                </div>
            </div>
        </fieldset>

        <div class="ibox-footer text-right">
            <a class="btn btn-warning btn-sm" ng-click="discardDefinition()"><i class="fa fa-remove"></i> Discard changes</a>
            <a class="btn btn-success btn-sm" ng-click="saveDefinition()"><i class="fa fa-save"></i> Save</a>
        </div>

    </uib-tab>
    <uib-tab heading="Statements">

        <!--Table Definitions/Statements -->
        <div class="row">
            <div class="col-sm-12">
                <div style="text-align: right;font-size: 20px;" class="">
                    <a ng-click="addStatement()" class="btn btn-default btn-xs"><i class="fa fa-plus-circle"></i> Add new</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Statement text</th>
                        <th>Source</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="(key, value) in tempDef.statements">
                        <td ng-switch on="selectedStatement == value">
                            <span ng-switch-when="false">{{value.text}}</span>
                            <input ng-switch-when="true" class="form-control" ng-model="tempStmt.text">
                        </td>
                        <td>
                            <span ng-hide="selectedStatement == value">{{value.source}}</span>
                            <input ng-show="selectedStatement == value" class="form-control" ng-model="tempStmt.source">
                        </td>
                        <td>
                            <a ng-click="editStatement(value)" class="btn btn-default btn-xs" ng-hide="selectedStatement == value"><i class="fa fa-pencil"></i> Edit</a>
                            <a ng-click="cancelEdit()" class="btn btn-default btn-xs" ng-show="selectedStatement == value"><i class="fa fa-pencil"></i> Cancel</a>
                            <a ng-click="saveStatement()" class="btn btn-default btn-xs" ng-show="selectedStatement == value"><i class="fa fa-pencil"></i> Save</a>
                            <a ng-click="deleteStatement(value)" class="btn btn-default btn-xs"><i class="fa fa-minus-circle"></i> Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="ibox-footer text-right">
            <a class="btn btn-warning btn-sm" ng-click="discardDefinition()"><i class="fa fa-remove"></i> Discard changes</a>
            <a class="btn btn-success btn-sm" ng-click="saveDefinition()"><i class="fa fa-save"></i> Save</a>
        </div>

    </uib-tab>
</uib-tabset>