<div class="row">
    <div class="col-sm-12" style="">
        <h4 ng-show="tempRel.id">Sense relation</h4>
        <h4 ng-show="!tempRel.id">New Sense relation</h4>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">

        <uib-tabset vertilize-container="">
            <uib-tab heading="Attributes">

                <div vertilize="">
                    <fieldset class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-1 control-label">Status</label>
                            <div class="col-sm-2">
                                <select class="form-control" name="status">
                                    <option>Draft</option>
                                    <option>Needs review</option>
                                    <option>Verified</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label">Notes / Comments</label>
                            <div class="col-sm-11">
                                <textarea class="form-control" rows="5"></textarea>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="ibox-footer text-right">
                    <a class="btn btn-warning btn-sm" ng-click="discardRel()"><i class="fa fa-remove"></i> Discard changes</a>
                    <a class="btn btn-success btn-sm" ng-click="saveRel()"><i class="fa fa-save"></i> Save</a>
                </div>

            </uib-tab>

            <uib-tab heading="Relation">

                <div vertilize="">
                    <div class="row" vertilize-container="">
                        <div class="col-sm-4">
                            <div style="border: 1px solid #eee;border-radius: 5px;background: #f8f8f8;" vertilize="">
                                <div style="margin: 10px;">
                                    <div style="text-align: center;"><h5>Source</h5></div>
                                    <div>SynSet Id {{synSet.id}}</div><div>{{synSet.label}}</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div style="border: 1px solid #eee;border-radius: 5px;background: #f8f8f8;" vertilize="">
                                <div style="margin: 10px;">
                                    <div style="">
                                        <div class="row" style="margin-left: 0;margin-right: 0;">
                                            <fieldset class="form-horizontal">
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">Relation</label>
                                                    <div class="col-sm-8">
                                                        <select class="form-control" ng-model="tempRel.type" ng-options="value as value.name for value in relTypes">
                                                            <option value=""> - Select type - </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                        <div class="row" style="text-align: center;">
                                            <i class="fa fa-long-arrow-right" style="font-size: 32px;"></i>
                                            <div>directed</div>
                                        </div>
                                    </div>
                                    <div style="" ng-show="counterRelTypes.length">
                                        <div class="row" style="margin-left: 0;margin-right: 0;">
                                            <fieldset class="form-horizontal">
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">Counter relation</label>
                                                    <div class="col-sm-8">
                                                        <select class="form-control" ng-model="counterRel" ng-options="value as value.name for value in counterRelTypes" ng-disabled="fParentCounterRelType">
                                                            <option value=""> - Select type - </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                        <div style="text-align: center;">
                                            <i class="fa fa-long-arrow-left" style="font-size: 32px;"></i>
                                            <div>directed</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div style="border: 1px solid #eee;border-radius: 5px;background: #f8f8f8;" vertilize="">
                                <div style="margin: 10px;">
                                    <div style="text-align: center;"><h5>Target</h5></div>
                                    <div>SynSet Id {{targetSynSet.id}}</div><div>{{targetSynSet.label}}</div>
                                    <div style="text-align: center;">
                                        <a class="btn btn-default btn-sm" ng-click="selectTarget()"><b><i class="fa fa-search"></i> Browse</b></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="ibox-footer text-right">
                    <a class="btn btn-warning btn-sm" ng-click="discardRel()"><i class="fa fa-remove"></i> Discard changes</a>
                    <a class="btn btn-success btn-sm" ng-click="saveRel()"><i class="fa fa-save"></i> Save</a>
                </div>

            </uib-tab>
        </uib-tabset>
    </div>
</div>