<div class="row">
    <div class="col-sm-12" style="">
        <h4 ng-show="tempRel.id">Sense relation</h4>
        <h4 ng-show="!tempRel.id">New Sense Relation</h4>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <uib-tabset vertilize-container="">
            <uib-tab heading="Attributes">

                <div vertilize="">
                    <fieldset class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-1 control-label">Status</label>
                            <div class="col-sm-2">
                                <select class="form-control" name="status">
                                    <option>Draft</option>
                                    <option>Needs review</option>
                                    <option>Verified</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="ibox-footer text-right">
                    <a class="btn btn-warning btn-sm" ng-click="discardRel()"><i class="fa fa-remove"></i> Discard changes</a>
                    <a class="btn btn-success btn-sm" ng-click="saveRel()"><i class="fa fa-save"></i> Save</a>
                </div>

            </uib-tab>

            <uib-tab heading="Relation">

                <div vertilize="">
                    <div class="row" vertilize-container="">

                        <div class="col-sm-4">
                            <div style="border: 1px solid #eee;border-radius: 5px;background: #f8f8f8;" vertilize="">
                                <div style="margin: 10px;">
                                    <div ng-if="relation.direction == 'ab'" style="text-align: center;"><h5>Source</h5></div>
                                    <div ng-if="relation.direction == 'ba'" style="text-align: center;"><h5>Target</h5></div>
                                    <div>Sense Id {{relation.sourceSense.id}}</div><div>{{relation.sourceSense.label}}</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div style="border: 1px solid #eee;border-radius: 5px;background: #f8f8f8;" vertilize="">
                                <div style="margin: 10px;">
                                    <div style="">
                                        <div class="row" style="margin-left: 0;margin-right: 0;">
                                            <fieldset class="form-horizontal">
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">Relation</label>
                                                    <div class="col-sm-8">
                                                        <select class="form-control" ng-options="value as value.name for value in relTypes" ng-model="relation.selectedRelType" ng-change="selectedRelTypeChanged()"></select>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                        <div style="text-align: center;" ng-switch="relation.selectedRelType.direction">
                                            <div ng-switch-when="d">
                                                <i ng-if="relation.direction == 'ab'" class="fa fa-long-arrow-right" style="font-size: 32px;"></i>
                                                <i ng-if="relation.direction == 'ba'" class="fa fa-long-arrow-left" style="font-size: 32px;"></i>
                                                <div>Directed</div>
                                            </div>
                                            <div ng-switch-when="b">
                                                <i class="fa fa-arrows-h" style="font-size: 32px;"></i>
                                                <div>Bidirectional</div>
                                            </div>
                                            <div ng-switch-when="n">
                                                <i class="fa fa-ellipsis-h" style="font-size: 32px;"></i>
                                                <div>Non-directional</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="" ng-show="counterRelTypes.length">
                                        <div class="row" style="margin-left: 0;margin-right: 0;">
                                            <fieldset class="form-horizontal">
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">Counter relation</label>
                                                    <div class="col-sm-8">
                                                        <select class="form-control" ng-model="relation.counterRelType" ng-options="value as value.name for value in counterRelTypes" ng-disabled="fParentCounterRelType">
                                                            <option value=""> - Select type - </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                        <div style="text-align: center;" ng-switch="relation.selectedRelType.direction">
                                            <div ng-switch-when="d">
                                                <i ng-if="relation.direction == 'ab'" class="fa fa-long-arrow-left" style="font-size: 32px;"></i>
                                                <i ng-if="relation.direction == 'ba'" class="fa fa-long-arrow-right" style="font-size: 32px;"></i>
                                                <div>Directed</div>
                                            </div>
                                            <div ng-switch-when="b">
                                                <i class="fa fa-arrows-h" style="font-size: 32px;"></i>
                                                <div>Bidirectional</div>
                                            </div>
                                            <div ng-switch-when="n">
                                                <i class="fa fa-ellipsis-h" style="font-size: 32px;"></i>
                                                <div>Non-directional</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div style="border: 1px solid #eee;border-radius: 5px;background: #f8f8f8;" vertilize="">
                                <div style="margin: 10px;">
                                    <div ng-if="relation.direction == 'ab'" style="text-align: center;"><h5>Target</h5></div>
                                    <div ng-if="relation.direction == 'ba'" style="text-align: center;"><h5>Source</h5></div>
                                    <div>Sense Id {{relation.targetSense.id}}</div><div>{{relation.targetSense.label}}</div>
                                    <div style="text-align: center;">
                                        <a class="btn btn-default btn-sm" ng-click="selectTarget()"><b><i class="fa fa-search"></i> Browse</b></a>
                                    </div>
                                    <div>
                                        <p ng-show="relErrors.targetSense.required">Target Sense is required!</p>
                                        <p ng-show="relErrors.targetSense.invalidSelf">Invalid target: Sense can't reference itself!</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="ibox-footer text-right">
                    <a class="btn btn-warning btn-sm" ng-click="discardRel()"><i class="fa fa-remove"></i> Discard changes</a>
                    <a class="btn btn-success btn-sm" ng-click="saveRel()"><i class="fa fa-save"></i> Save</a>
                </div>

            </uib-tab>
        </uib-tabset>
    </div>
</div>