<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="myModalLabel6">New SynSet relation type</h4>
</div>
<div class="modal-body">
    <fieldset class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label">Name</label>
            <div class="col-md-9">
                <input placeholder="Name" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Direction</label>
            <div class="col-md-9">
                <select class="form-control">
                    <option value="">Select direction</option>
                    <option value="directed">directed</option>
                    <option value="bidirectional">bidirectional</option>
                    <option value="non-directional">non-directional</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Description</label>
            <div class="col-md-9">
                <input placeholder="Description" class="form-control">
            </div>
        </div>
    </fieldset>
</div>

<div class="modal-footer">
    <button type="submit" class="btn btn-default">OK</button>
    <button type="submit" class="btn btn-danger">Cancel</button>
</div>