<div style="text-align: right; margin: 0px 35px; font-size: 20px;" class="sub_menu">
    <a data-toggle="modal" data-target="#addNew" href="javascript:void(0)"><i class="fa fa-plus-circle"></i></a>
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Domain name</th>
        <th>Description</th>
        <th>Time created</th>
        <th>Time updated</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>Domain #1</td>
        <td></td>
        <td>2015.01.01 12:01</td>
        <td>2015.01.01 12:01</td>
        <td>
            <a href="javascript:void(0)"><i class="fa fa-minus-circle"></i></a>
            <a href="javascript:void(0)"><i class="fa fa-pencil"></i></a>
        </td>
    </tr>
    <tr>
        <td>2</td>
        <td>Domain #1</td>
        <td></td>
        <td>2015.01.01 12:01</td>
        <td>2015.01.01 12:01</td>
        <td>
            <a href="javascript:void(0)"><i class="fa fa-minus-circle"></i></a>
            <a href="javascript:void(0)"><i class="fa fa-pencil"></i></a>
        </td>
    </tr>
    <tr>
        <td>2</td>
        <td>Domain #1</td>
        <td></td>
        <td>2015.01.01 12:01</td>
        <td>2015.01.01 12:01</td>
        <td>
            <a href="javascript:void(0)"><i class="fa fa-minus-circle"></i></a>
            <a href="javascript:void(0)"><i class="fa fa-pencil"></i></a>
        </td>
    </tr>
    </tbody>
</table>