<div style="text-align: right;">
    <a ng-click="openCreateModal()" class="btn btn-default btn-xs"><i class="fa fa-plus-circle"></i> Add new</a>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Relation name</th>
            <th>Description</th>
            <th>Direction</th>
            <th>Counterpart</th>
            <th>Time created</th>
            <th>Time updated</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="(key, value) in synSetRelTypes">
            <td>{{value.id}}</td>
            <td>{{value.name}}</td>
            <td>{{value.description}}</td>
            <td wnwb-rel-dir="{{value.direction}}">{{value.direction}}</td>
            <td ng-if="value.other == 0">N/A</td>
            <td ng-if="value.other != 0">{{synSetRelTypeMap[value.other].name}}</td>
            <td>{{value.date_created | date : 'dd.MM.yyyy H:mm'}}</td>
            <td>{{value.date_updated | date : 'dd.MM.yyyy H:mm'}}</td>
            <td>
                <a ng-click="openEditModal(value)" class="btn btn-default btn-xs"><i class="fa fa-pencil"></i> Edit</a>
                <a ng-click="openDeleteModal(value)" class="btn btn-default btn-xs"><i class="fa fa-minus-circle"></i> Delete</a>
            </td>
        </tr>
    </tbody>
</table>