<div style="">
    <div class="row m-t">
        <fieldset class="form-horizontal" style="margin-right: 15px;">
            <div class="form-group">
                <label class="col-sm-1 control-label">Anchor</label>
                <div class="col-sm-11">
                    <select class="form-control" ng-change="anchorChanged()" ng-model="workingAnchor" ng-options="anchor as anchor.label for anchor in anchorList"></select>
                </div>
            </div>
        </fieldset>
    </div>
</div>