

<div class="row" ng-if="!vm.root==1">
    <div class="form-group">
        <div class="col-xs-1">
            <button type="button" class="btn btn-default btn-xs pull-left" ng-click="vm.addField(vm.filter.length)">Add Field</button>
        </div>
        <div class="col-xs-1" ng-if="vm.parent.boolOp=='AND'">
            <button type="button"  class="btn btn-default btn-xs  pull-left" ng-click="vm.addGroup(vm.filter.length,'OR')">Add Group OR</button>
        </div>
        <div class="col-xs-1" ng-if="vm.parent.boolOp=='OR'">
            <button type="button"  class="btn btn-default btn-xs  pull-left" ng-click="vm.addGroup(vm.filter.length,'AND')">Add Group AND</button>
        </div>
        
    </div>       
</div>

<div class="row" ng-if="!vm.root==1">&nbsp;</div>

<di-null  ng-repeat="filteritem in vm.filter   track by $index">
    <!--GROUP-->
    <div class="panel panel-default" ng-if="filteritem.type=='group' ">
        <div class="panel-body">
            <button type="button" ng-show="vm.filter.length>1" class="btn btn-default btn-xs  pull-right" ng-click="vm.removeField($index)">Remove Group</button>
            <extended-search-filters filter="filteritem.items" availablefields="vm.availablefields"  validation="vm.validation" type='vm.type' root="0" parent="filteritem"></extended-search-filters>     
        </div>
    </div>
    
    <!--FIELD-->
    <div class="row" ng-if="filteritem.type=='field'">
        <div class="form-group">
            <div class="col-xs-3">
                <select  class="form-control" ng-model="filteritem.field.field" ng-change="vm.selectedFilterChanged($index, filteritem.field.field)" >
                    <option  ng-repeat="filter in vm.availablefields"  value="{{filter.field}}">
                        {{filter.label}}
                    </option>
                </select>
            </div>     
            <div class="col-sm-2">
                <select ng-if="filteritem.field.ops.length>1" class="form-control  form-control-sm" ng-model="filteritem.field.selectedOps" ng-change="vm.opChanged()">
                    <option ng-repeat="op in filteritem.field.ops"  value="{{op}}">{{op}}</option>
                </select>
                <input ng-if="filteritem.field.ops.length==1" readonly ng-model="filteritem.field.selectedOps" type="text" class="form-control"  />
                
            </div>
             <div class="col-xs-4">

                <!--relations-->
                <div class="input-group" ng-if="vm.showRelations(filteritem.field)">
                    <select class="form-control" ng-model="filteritem.field.insertedValue">
                        <option  ng-repeat="(key, relation) in filteritem.field.relations"  value="{{key}}" alt="info">{{key}}</option>
                    </select>
                    {{filteritem.field.relations[filteritem.field.insertedValue]}}
                </div>
                 
                <!--fixed values-->
                <div class="input-group" ng-if="vm.showFixedValues(filteritem.field)">
                    <select class="form-control" ng-model="filteritem.field.insertedValue">
                        <option  ng-repeat="fixedValue in filteritem.field.fixedValues"  value="{{fixedValue}}">{{fixedValue}}</option>
                    </select>
                    
                </div>

                <!--char and text value-->
                <input  ng-if="vm.showTextField(filteritem.field)" type="text" class="form-control"  ng-model="filteritem.field.insertedValue" ng-maxlength="'{{filteritem.field.length}}'" ng-blur="vm.evaluateField(filteritem.field)"  />
               
                 <!--date-->
                <input ng-if="vm.showDateField(filteritem.field)" type="date"  class="form-control"  ng-model="filteritem.field.insertedValue" ng-blur="vm.evaluateField(filteritem.field)" />
                                
                <span ng-show="filteritem.field.error"  style="color:red">{{filteritem.field.errorMessage}}</span>
            </div> 
            <div class="col-xs-3">
                <button type="button" ng-show="vm.filter.length>1" class="btn btn-default btn-xs pull-right" ng-click="vm.removeField($index)">Remove Field</button> 

             </div>             
        </div>
    </div>

    <div  class="row" ng-if="!($index==(vm.filter.length-1))" ng-hide="0&&vm.parent.boolOp=='AND'"><div class="col-xs-3">{{vm.parent.boolOp}}</div></div>

</di-null>

<div class="row" ng-if="vm.root==1 && !(vm.filter.length==0)">
    <div class="form-group">
        <div class="col-xs-1">
            <button type="button" class="btn btn-default btn-xs  pull-left" ng-click="vm.addGroup(vm.filter.length,'AND')">Add Group AND</button>
        </div>
    </div>
</div>



     